<div>
	<h3>Contacts 컨텐츠 입니다.</h3>
	<p>Lorem ipsum dolor sit amet, 
	consectetur adipisicing elit. Veniam 
	ratione reiciendis at fugiat earum
	 itaque quaerat iusto dolores aut delectus 
	 aspernatur porro quo. Tenetur aliquid autem 
	 neque quia magni nostrum?</p>
	<table class="table table-borderd">
		<caption>연락처 정보 입니다.</caption>
		<thead>
			<tr>
				<th>이름</th>
				<th>전화번호</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tmp in userList" ng-click="goDetail(tmp.num)">
				<td>{{tmp.name}}</td>
				<td ng-bind="tmp.phone"></td>
			</tr>
		</tbody>
	</table>
</div>






